<div class="row">
    		<div class="col-xs-4"></div>
    		<div class="col-xs-4">
    		</br>
				<div class="panel panel-default_rojo">
        			<div class="panel-body">

        			<!-- INICIO SESSION -->

						<div class="form-group ">
							<div class="col-md-10 col-md-offset-1">
								<img src="/assets/Logo_Ivet.png" class="logo">
								</br></br>
								<div>
									<h4 class="text-center">Inicio de Session</h4>
								</div>
								<div class="form-group has-feedback has-feedback-left">
										<span class="icon-user2 form-control-feedback text-muted"></span>
										<input ng-rut type="text" id="rut" name="rut" autocomplete="off" maxlength="12" onfocus="this.value=''" class="form-control form-control-left input-sm text-center" data-ng-model="credentials.rut" placeholder="Rut - 15.919.381-0" required>
								</div>
								<div class="form-group has-feedback has-feedback-left">
										<span class="icon-key form-control-feedback text-muted"></span>
										<input type="password" id="password" name="password" ng-minlength="5" maxlength="20" class="form-control form-control-left input-sm text-center" data-ng-model="credentials.password" placeholder="Contraseña" required>
								</div>
								<select id="roles" class="form-control ng-pristine ng-valid" data-ng-model="credentials.roles" required>
								    <option value="_usuario" label="Usuario"></option>
								    <option value="_administrador" label="Administrador"></option>
								    <option value="_veterinario" label="Veterinario"></option>
								    <option value="_empresa" label="Empresa"></option>
								</select>
							</div>
						</div>
        			</div>
					<div class="panel-heading sube_btn">
		        		<div class="text-center">
		        			<button type="submit" class="btn boton-rojo btn-block" ng-disabled="userForm.$invalid">Ingresar</button>
						</div>
						<div class="text-center form-group" ng-hide="inicia_sesion">
							</br>
							<div class="forgot-password text-center">
								<a href="/#!/password/forgot">Olvidaste tu contraseña?</a> 
								</br>&nbsp; o quieres &nbsp;
								<a href="/signup">Registrarte?</a>
							</div>
						</div>
		        	</div>
		        	
		    	</div>
    		</div>
    		<div class="col-xs-4"></div>
		</div>
